body {
    background-color: #df6ea0;
}

/* css tablet */
@media screen and (min-width : 600px) {
    body {
        background-color: #33294a;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
        background-color: aquamarine;
        border-radius: 30% 30% 30% 30%;
    }
}

/* css desktop */
@media screen and (min-width : 992px) {
    body {
        background-color: #6c234e;
    }

    .col {
        width: 25%;
        background-color: #fdf0d1;
        float: left;
    }

  
}

/* class selector */


.col-3 {
    width: 33.33%;
    background-color: #9e8ec3;
    float: left;
}

.img-responsive {
    width: 100%;
    max-height: 200px;
    border-radius: 30% 50% 30% 50%;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: #fde0d2;
}

.rounded {
    border-radius: 20px;
}

.mb-5 {
    margin-bottom: 150px;
}

.mt-5 {
    margin-top: 150px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}