body {

    background-image: linear-gradient(to left, #1D2B53, #7E2553, #FF004D, #FAEF5D);

}

.opener {
    text-align: center;
    background-color: cyan;
    border-radius: 30px;



}

.col {
    width: 25%;
    float: left;
    text-align: center;
    background-color: aquamarine;
    background-image: linear-gradient(to bottom, #070F2B, #FAEF5D);
}

.col2 {
    width: 33.33%;
    float: left;
    background-color: blueviolet;
    text-align: center;
    background-image: linear-gradient(to bottom, #59D5E0, #FAA300);
}

.card {
    width: 100%;


}

.mb-5 {
    margin-bottom: 150px;
}

.mt-5 {
    margin-top: 150px;
}

.card::after {
    content: "";
    clear: both;
    display: table;
}

.img {
    width: 300px;
    border-radius: 50%;
}